<div class="jumbotron">
  {{#unless user}}
  <h1>Twitter-json User Authentication</h1>
  <p>Sign in and view your profile (or errors, mostly errors)</p>
  <p>
    <a href="/signin" class="btn btn-primary btn-lg" role="button">
      <span class="glyphicon glyphicon-user"></span>
      Sign in!
    </a>
  </p>
  {{ else }}
  <h1> Our home where posts should appear... anytime now</h1>
  {{/unless}}
</div>
